// settings page styles
.settings_page_mycryptocheckout {
	#plainview_sdk_mcc_form2_inputs_text_btc_hd_public_key {
		width: 100%;
		max-width: 1000px;
	}
	.plainview_sdk_table.widefat.currencies {
		td#currency {
			cursor: move;
		}
		.ui-sortable-helper {
			border: 1px solid #ccc;
			background: #FAFAFA;
		}
		.wallet_placeholder {
			background: #d8d8d8;
		}
		td#wallet {
			overflow-wrap: break-word;
			word-break: break-all;
		}
	}
}