// Preset white for icon font
.mcc_currency_icons.white {
	i {
		color: #FFF;
	}
}
// Preset orange for icon font
.mcc_currency_icons.orange {
	i {
		color: #F7931B;
	}
}

// Preset brand colors for icon font
// Icon symbol and glyph array
$icons: (
"1337": "#4C1515",
"AAVE": "#5687A8",
"ABYCOIN": "#FF6600",
"ACAD": "#024574",
"ACTIV": "#ccaf3c",
"ADULT": "#4F606A",
"AE": "#DE3F6B",
"ALGO": "#000000",
"ANT": "#1cb7c4",
"APE": "#5530f2",
"AVAX": "#E84445",
"B100": "#002291",
"BAKE": "#AC582D",
"BAT": "#9e1f63",
"BCH": "#00B400",
"BEP20BUSD": "#F0B90B",
"BEP20USDC": "#2775ca",
"BEP20USDT": "#f0b90b",
"BEST": "#000000",
"BIRB": "#508BE0",
"BITT": "#E37F24",
"BKC": "#4f2b5d",
"BLXS": "#FDDE02",
"BNB": "#F5BC00",
"BNBCH": "#F3903F",
"BNT": "#000D2B",
"BSCURBATE": "#e499c2",
"BSD": "#D1A41B",
"BTC": "#F7931A",
"BTG": "#eba809",
"BTT": "#000000",
"BZX": "#000000",
"C2C": "#000000",
"CAKE": "#41d2da",
"CARMA": "#9CABE3",
"CATO": "#082D53",
"CCIM": "#000000",
"CFA": "#000000",
"CGB": "#cea920",
"CHAIN": "#EB3926",
"CHS": "#8EC443",
"CLOAK": "#E44B2D",
"CNS": "#00AA10",
"COF": "#35B629",
"COLX": "#000",
"COMP": "#000",
"CRO": "#113F68",
"CRYFT": "#01ad08",
"CRYP": "#000",
"CSTC": "#840707",
"CU": "#cb3524",
"CUDOS": "#1B2031",
"CURA": "#14377f",
"CUSTOM": "#000000",
"DAI": "#F5AC37",
"DASH": "#1c75bc",
"DCR": "#3b7cfb",
"DDGN": "#000000",
"DDS": "#673AB7",
"DEFI": "#000000",
"DEP_BEP20": "#ce9b39",
"DEP_ERC20": "#ce9b39",
"DERC_BEP20": "#000000",
"DERC_ERC20": "#000000",
"DEXKIT": "#DB532A",
"DEXT": "#00A5C1",
"DGB": "#0066cc",
"DGD": "#D8A24A",
"DGTX": "#7b32e8",
"DOGE": "#C3A634",
"DRGN": "#C91111",
"EARNX": "#000000",
"EBTC": "#F37721",
"ECA": "#bd01fe",
"EFI": "#4B6EDA",
"EGLD": "#0D022B",
"EMPIRE": "#19e6d7",
"ENIX": "#18CCEA",
"ENJ": "#7866d4",
"EOS": "#000000",
"ETH": "#282828",
"ETM": "#F25057",
"EXSUCH": "#00b050",
"FFA": "#fb5f76",
"FINE": "#000",
"FIRE": "#ea7419",
"FIREFLY": "#fc5f74",
"FLIX": "#7D0A7F",
"FLOKI": "#5109ae",
"FOX": "#E09622",
"FREE": "#F7B930",
"FRTS": "#ED6D00",
"FTK": "#004AAD",
"FTM": "#1969ff",
"FUN": "#ED1968",
"G": "#05B1FD",
"GAMESAFE": "#000",
"GBC": "#F1B31E",
"GME": "#9484C6",
"GMEV3": "#483674",
"GOCA": "#061937",
"GOLF": "#000000",
"GNT": "#001D57",
"GRS": "#0093AB",
"GT": "#DE5959",
"GTC": "#DE5959",
"GSPI": "#0696A6",
"GTO": "#7F27FF",
"GUSD": "#07c4e1",
"GVT": "#16B9AD",
"HEAT": "#FF0701",
"HERB": "#60AC04",
"HNY": "#ffcc33",
"HOGE": "#000000",
"HOKK": "#2E3192",
"HPB": "#3a6b93",
"HT": "#1C2143",
"HYPE": "#E60606",
"HYPER": "#6B2EFD",
"ICX": "#1FC5C9",
"IMT": "#fcee21",
"INCH": "#1C324F",
"INV": "#35C1C7",
"ITM": "#4AAAE0",
"JOB": "#211566",
"JULD": "#9E1B1A",
"KCS": "#25af91",
"KCW": "#000",
"KDU": "#62B9E7",
"KISHU": "#13CAFE",
"KITTY": "#f7a857",
"KNC": "#188C92",
"KUBO": "#000000",
"LATINO": "#1eb7eb",
"LIFE": "#10164c",
"LILE": "#deb846",
"LINK": "#2A5AD9",
"LOOM": "#08839D",
"LTC": "#838383",
"LUN": "#F45954",
"LUNA": "#172852",
"LXC": "#c8962c",
"MANA": "#BFB5AF",
"MARS": "#D13914",
"MATIC": "#8247E5",
"MCO": "#103F68",
"MDA": "#2F6747",
"MCT": "#ef5c2c",
"MERO": "#127EBA",
"METAGIN": "#000000",
"MICHI": "#000000",
"MIL": "#000000",
"MINX": "#957955",
"MKR": "#1abc9c",
"MLCN": "#0188fe",
"MLM": "#000000",
"MNDA": "#378da0",
"MOONPIRATE": "#000000",
"MPC": "#000000",
"MTL": "#1E1F25",
"MX": "#008376",
"NAS": "#222",
"NEOK": "#F60101",
"NEST": "#000",
"NEXO": "#2853C3",
"NMN": "#4a63c0",
"NPXS": "#221E22",
"NSFW": "#000000",
"NUM": "#000000",
"NYC": "#6D6E71",
"OAK": "#0292B4",
"OMG": "#000000",
"ONG": "#000000",
"ORE": "#000000",
"ORGT": "#c717b0",
"OROX": "#000000",
"PAPEL": "#D4232A",
"PAY": "#302C2C",
"PENKY": "#b80082",
"PIEG": "#bc181e",
"PLA": "#FECB00",
"PNY": " #a29667",
"POLY": "#4C5A95",
"PPT": "#152743",
"PRE": "#2d8eff",
"PRX": "#5DBA48",
"PUSH": "#674e9e",
"PUT": "#000000",
"QASH": "#1347E8",
"QOIN": "#ff7733",
"RACA": "#fcc33c",
"RDN": "#2A2A2A",
"REP": "#602A52",
"REQ": "#075073",
"RISE": "#EB4432",
"RMESH": "#0C424E",
"ROK": "#000000",
"RWD_BEP20": "#208475",
"RWD_ERC20": "#208475",
"SAFEBTC": "#8301FE",
"SAFEMOON": "#25223D",
"SAFEMOONCASH": "#000000",
"SALT": "#0baba4",
"SAO": "#5bbb91",
"SCRAP": "#f4821c",
"SCOUT": "#48C0BE",
"SCT": "#000000",
"SEEDS": "#2F6747",
"SGO": "#263A80",
"SHIB": "#FE8300",
"SKYBORN": "#7EB7E3",
"SNG": "#00b338",
"SNOV": "#971EE6",
"SOL": "#000000",
"SOS": "#000000",
"SPDR": "#ad1ca6",
"SPHYNX": "#000000",
"SHC": "#000000",
"SHEL": "#000000",
"SIN": "#0b2272",
"SMC": "#000000",
"SMART": "#ffc70d",
"SNT": "#5B6DEE",
"SNX": "#00D1FF",
"SPAZ": "#D0C344",
"SPI": "#1B96A6",
"SPN": "#12496D",
"SPND": "#000",
"STAK": "#F29514",
"STMX": "#FC2E53",
"STORM": "#080D98",
"STQ": "#2fbafd",
"STX": "#5546ff",
"SUBX": "#000",
"SXP": "#FE6627",
"TASTE": "#95011C",
"TBTC": "#000",
"TCH": "#3d6670",
"TEL": "#14C8FF",
"TKO": "#077fa2",
"TKS": "#00b268",
"TMT": "#E3BB44",
"TN": "#000",
"TOR": "#be7c40",
"TPAY": "#3058A6",
"TRDS": "#1C05DB",
"TRX": "#000",
"TST": "#4800ee",
"TUSD": "#5ca4f5",
"TXT": "#000000",
"ULG": "#f4ba3e",
"UNI": "#FF007A",
"UNIQ": "#3952F5",
"UOS": "#7A51D0",
"USDC": "#2775c9",
"USDN": "#08B596",
"USDT": "#229A77",
"USDT_ERC20": "#282828",
"USDT_TRC20": "#000000",
"UST": "#103EA6",
"VAI": "#73ba59",
"VBK": "#2561A7",
"VCE": "#ffcb00",
"VCP": "#000000",
"VERI": "#FF9933",
"VET": "#589CE0",
"VEX": "#03ABA3",
"VIA": "#000000",
"VLX": "#000000",
"VMIX": "#035CA5",
"VRA": "#E00A3D",
"WAROO": "#000000",
"WAVES": "#0155FF",
"WOBTC": "#000000",
"WORLD": "#666AFE",
"WW": "#3609F9",
"WRD1": "#221F1F",
"WWTK": "#73afc6",
"XCON": "#000000",
"XDAI": "#0ae33a",
"XDC": "#244B81",
"XEM": "#67B2E8",
"XFC": "#561263",
"XLM": "#14b6e7",
"XLR": "#000",
"XMR": "#FF6600",
"XPR": "#4747c9",
"XRP": "#000",
"XTROPTIONSGOLD": "#D4A332",
"XVG": "#35bde1",
"XVS": "#f7b647",
"YLD": "#10367F",
"YUMMY": "#582B08",
"ZEC": "#e29f27",
"ZIL": "#48C0BE",
"ZRX": "#302C2C",
);

// Loop icon array
@each $name, $color in $icons {
	.mcc_currency_icons.color i.mcc-#{$name} {
	  color: #{$color};
	}
}