// Icon font for checkout page
// old icon style remove in later version
#payment .wc_payment_methods .payment_method_mycryptocheckout img {
	max-height: 1.618em;
	height: 100%;
	width: auto;
}
// current icon styles
.woocommerce-checkout #payment ul.wc_payment_methods li.payment_method_mycryptocheckout label {
	.mcc_currency_icons {
		display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    word-wrap: break-word;
	}
}
@font-face {
	font-family: 'mcc';
	src:  url('../fonts/mcc.ttf?hqq0o6') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[class^="mcc-"], [class*=" mcc-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'mcc' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #000;
	font-size: 22px;
	margin: 5px 2px;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Icon symbol and glyph array
$icons: (
"APE": "ea17",
"CRYFT": "ea18",
"CU": "ea19",
"DEFI": "ea1a",
"DEP_BEP20": "ea1b",
"DEP_ERC20": "ea1c",
"EMPIRE": "ea1d",
"EXSUCH": "ea1e",
"FIRE": "ea1f",
"HPB": "ea22",
"KCS": "ea23",
"METAGIN": "ea24",
"NUM": "ea25",
"SCRAP": "ea26",
"SPHYNX": "ea27",
"STX": "ea28",
"TOR": "ea29",
"VCE": "ea2a",
"XPR": "ea2b",
"C2C": "ea04",
"CFA": "ea05",
"FIREFLY": "ea06",
"FTM": "ea07",
"HNY": "ea08",
"KITTY": "ea09",
"MLCN": "ea0a",
"MNDA": "ea0b",
"PENKY": "ea0c",
"QOIN": "ea0d",
"SAO": "ea0e",
"SOS": "ea0f",
"WOBTC": "ea10",
"XDAI": "ea16",
"BSCURBATE": "e9fe",
"FFA": "e9ff",
"GOCA": "ea00",
"LIFE": "ea01",
"RACA": "ea02",
"TKO": "ea03",
"BKC": "e9f8",
"FLOKI": "e9f9",
"ORE": "e9fa",
"PUT": "e9fb",
"SOL": "e9fc",
"VLX": "e9fd",
"ALGO": "e9f3",
"BNBCH": "e9f4",
"CUDOS": "e9f5",
"PUSH": "e9f6",
"WAROO": "e9f7",
"DERC_BEP20": "e9f0",
"DERC_ERC20": "e9f1",
"DEXT": "e9f2",
"KCW": "e9ef",
"BITT": "e9e7",
"CHAIN": "e9e8",
"COMP": "e9e9",
"DEXKIT": "e9ea",
"EFI": "e9eb",
"FINE": "e9ec",
"GAMESAFE": "e9ed",
"GTC": "e9ee",
"NEST": "ea11",
"PRX": "ea12",
"SGO": "ea13",
"SUBX": "ea14",
"UNIQ": "ea15",
"BIRB": "e9e4",
"GT": "e9e5",
"VRA": "e9e6",
"RWD_BEP20": "e9e2",
"RWD_ERC20": "e9e3",
"AVAX": "e9dc",
"CNS": "e9dd",
"FTK": "e9de",
"HOKK": "e9df",
"KDU": "e9e0",
"MATIC": "e9e1",
"CARMA": "e9d5",
"MIL": "e9d6",
"NEOK": "e9d7",
"RISE": "e9d8",
"VET": "e9d9",
"VMIX": "e9da",
"XDC": "e9db",
"B100": "e9c7",
"HOGE": "e9c8",
"KISHU": "e9c9",
"NSFW": "e9ca",
"PAPEL": "e9cb",
"SCOUT": "e9cc",
"SKYBORN": "e9cd",
"TASTE": "e9ce",
"VBK": "e9cf",
"YLD": "e9d3",
"ZIL": "e9d4",
"SAFEMOONCASH": "e9c6",
"BAKE": "e9c3",
"G": "e9c4",
"SAFEMOON": "e9c5",
"SHIB": "e9d0",
"SXP": "e9d1",
"YUMMY": "e9d2",
"CSTC": "e9bb",
"EARNX": "e9bc",
"GMEV3": "e9bd",
"GSPI": "e9be",
"MICHI": "e9bf",
"MOONPIRATE": "e9c0",
"SAFEBTC": "e9c1",
"VEX": "e9c2",
"FOX": "e9b4",
"GBC": "e9b5",
"GME": "e9b6",
"HYPER": "e9b7",
"SHC": "e9b8",
"SPN": "e9b9",
"UOS": "e9ba",
"EGLD": "e9af",
"JULD": "e9b0",
"WORLD": "e9b1",
"XCUR": "e9b2",
"XTROPTIONSGOLD": "e9aa",
"BEP20BUSD": "e9a6",
"CUSTOM": "e9a7",
"ETM": "e9a8",
"LUNA": "e9a9",
"MDA": "e9aa",
"MX": "e9ab",
"SCT": "e9ac",
"SEEDS": "e9ad",
"UST": "e9ae",
"DDS": "e9a4",
"STMX": "e9a5",
"SPI": "e9a3",
"BEP20USDC": "e99e",
"BEP20USDT": "e99f",
"CAKE": "e9a0",
"VAI": "e9a1",
"XVS": "e9a2",
"GVT": "e99a",
"LUN": "e99b",
"SNOV": "e99c",
"TEL": "e99d",
"INCH": "e996",
"AAVE": "e997",
"SNX": "e998",
"UNI": "e999",
"CGB": "e994",
"NEXO": "e995",
"MCT": "e993",
"MINX": "e991",
"XFC": "e992",
"CHS": "e98e",
"CRO": "e98f",
"USDN": "e990",
"VCP": "e98c",
"MLM": "e98d",
"TST": "e989",
"TCH": "e98a",
"ROK": "e98b",
"DDGN": "e986",
"MPC": "e987",
"DGTX": "e988",
"CURA": "e985",
"WWTK": "e983",
"SNG": "e984",
"FRTS": "e982",
"JOB": "e980",
"TRDS": "e981",
"DAI": "e90f",
"TMT": "e97f",
"RMESH": "e97e",
"SIN": "e97d",
"FREE": "e979",
"ABYCOIN": "e97b",
"SPAZ": "e97c",
"USDT_TRC20": "e978",
"PLA": "e97a",
"GOLF": "e977",
"HEAT": "e976",
"PNY": "e975",
"ENIX": "e974",
"SMC": "e973",
"XCON": "e972",
"EOS": "e971",
"KUBO": "e970",
"HYPE": "e96e",
"BEST": "e96f",
"LINK": "e96d",
"POLY": "e96a",
"MANA": "e96b",
"BTT": "e96c",
"MERO": "e969",
"CCIM": "e968",
"DOGE": "e967",
"ULG": "e966",
"SPDR": "e965",
"NMN": "e95e",
"OROX": "e964",
"SMART": "e963",
"PRE": "e962",
"PIEG": "e961",
"ECA": "e960",
"LXC": "e95f",
"USDT_ERC20": "e95d",
"ORGT": "e95c",
"XRP": "e95b",
"IMT": "e95a",
"ACAD": "e959",
"ENJ": "e958",
"XLM": "e957",
"USDT": "e956",
"STQ": "e955",
"HERB": "e954",
"GRS": "e951",
"BLXS": "e950",
"BZX": "e952",
"OAK": "e953",
"CLOAK": "e94f",
"ACTIV": "e94e",
"USDC": "e94c",
"TKS": "e94d",
"SPND": "e94b",
"TXT": "e94a",
"WW": "e949",
"TUSD": "e947",
"GUSD": "e948",
"1337": "e900",
"ADULT": "e901",
"AE": "e902",
"ANT": "e903",
"BAT": "e904",
"BCH": "e905",
"BNB": "e906",
"BNT": "e907",
"BSD": "e908",
"BTC": "e909",
"BTG": "e90a",
"CATO": "e90b",
"COF": "e90c",
"COLX": "e90d",
"CRYP": "e90e",
"DASH": "e910",
"DCR": "e911",
"DGB": "e912",
"DGD": "e913",
"DRGN": "e914",
"EBTC": "e915",
"ETC": "e916",
"ETH": "e917",
"FLIX": "e918",
"FUN": "e919",
"GNT": "e91a",
"GTO": "e91b",
"HT": "e91c",
"ICX": "e91d",
"INV": "e91e",
"ITM": "e91f",
"KNC": "e920",
"LATINO": "e921",
"LILE": "e922",
"LOOM": "e923",
"LTC": "e924",
"MARS": "e925",
"MCO": "e926",
"MKR": "e927",
"MTL": "e928",
"NAS": "e929",
"NPXS": "e92a",
"NYC": "e92b",
"OMG": "e92c",
"ONG": "e92d",
"PAY": "e92e",
"PPT": "e92f",
"QASH": "e930",
"RDN": "e931",
"REP": "e932",
"REQ": "e933",
"SALT": "e934",
"SHEL": "e935",
"SNT": "e936",
"STAK": "e937",
"STORM": "e938",
"TBTC": "e939",
"TN": "e93a",
"TPAY": "e93b",
"TRX": "e93c",
"VERI": "e93d",
"VIA": "e93e",
"WAVES": "e93f",
"WRD1": "e940",
"XEM": "e941",
"XLR": "e942",
"XMR": "e943",
"XVG": "e944",
"ZEC": "e945",
"ZRX": "e946",
);

// We need a function to add the backslash
// Sass thinks its an escaping character
@function icon($character){
    @return unquote('\"') + unquote(str-insert($character,'\\', 1)) + unquote('\"');
}

// Loop icon array
@each $name, $symbol in $icons {
	.mcc-#{$name}:before {
	  content: icon($symbol);
	}
}
