// Preset white for icon font
.mcc_currency_icons.white {
	i {
		color: #FFF;
	}
}
// Preset orange for icon font
.mcc_currency_icons.orange {
	i {
		color: #F7931B;
	}
}

// Preset brand colors for icon font
.mcc_currency_icons.color {
	i {
		&.mcc-1337 {
			color: #4C1515;
		}
		&.mcc-ABYCOIN {
  			color: #FF6600;
		}
		&.mcc-ACAD {
  			color: #024574;
		}
		&.mcc-ACTIV {
			color: #ccaf3c;
		}
		&.mcc-ADULT {
			color: #4F606A;
		}
		&.mcc-AE {
			color: #DE3F6B;
		}
		&.mcc-ANT {
			color: #1cb7c4;
		}
		&.mcc-BAT {
			color: #9e1f63;
		}
		&.mcc-BCH {
			color: #00B400;
		}
		&.mcc-BEST {
  			color: #000000;
		}
		&.mcc-BLXS {
			color: #FDDE02;
		}
		&.mcc-BNB {
			color: #F5BC00;
		}
		&.mcc-BNT {
			color: #000D2B;
		}
		&.mcc-BSD {
			color: #D1A41B;
		}
		&.mcc-BTC {
			color: #F7931A;
		}
		&.mcc-BTG {
			color: #eba809;
		}
		&.mcc-BTT {
  			color: #000000;
		}
		&.mcc-BZX {
			color: #000000;
		}
		&.mcc-CATO {
			color: #082D53;
		}
		&.mcc-CCIM {
  			color: #000000;
		}
		&.mcc-CGB {
			color: #cea920;
		}
		&.mcc-CHS {
			color: #8EC443;
		}
		&.mcc-CLOAK {
			color: #E44B2D;
		}
		&.mcc-COF {
			color: #35B629;
		}
		&.mcc-COLX {
			color: #000;
		}
		&.mcc-CRO {
			color: #113F68;
		}
		&.mcc-CRYP {
			color: #000;
		}
		&.mcc-CURA {
			color: #14377f;
		}
		&.mcc-DAI {
			color: #F5AC37;
		}
		&.mcc-DASH {
			color: #1c75bc;
		}
		&.mcc-DCR {
			color: #3b7cfb;
		}
		&.mcc-DDGN {
			color: #000000;
		}
		&.mcc-DGB {
			color: #0066cc;
		}
		&.mcc-DGD {
			color: #D8A24A;
		}
		&.mcc-DGTX {
			color: #7b32e8;
		}
		&.mcc-DOGE {
  			color: #C3A634;
		}
		&.mcc-DRGN {
			color: #C91111;
		}
		&.mcc-EBTC {
			color: #F37721;
		}
		&.mcc-ECA {
  			color: #bd01fe;
		}
		&.mcc-ENIX {
  			color: #18CCEA;
		}
		&.mcc-ENJ {
			color: #7866d4;
		}
		&.mcc-EOS {
  			color: #000000;
		}
		&.mcc-ETH {
			color: #282828;
		}
		&.mcc-FLIX {
			color: #7D0A7F;
		}
		&.mcc-FREE {
  			color: #F7B930;
		}
		&.mcc-FRTS {
  			color: #ED6D00;
		}
		&.mcc-FUN {
			color: #ED1968;
		}
		&.mcc-GOLF {
  			color: #000000;
		}
		&.mcc-GNT {
			color: #001D57;
		}
		&.mcc-GRS {
			color: #0093AB;
		}
		&.mcc-GTO {
			color: #7F27FF;
		}
		&.mcc-GUSD {
			color: #07c4e1;
		}
		&.mcc-HEAT {
  			color: #FF0701;
		}
		&.mcc-HERB {
			color: #60AC04;
		}
		&.mcc-HT {
			color: #1C2143;
		}
		&.mcc-HYPE {
  			color: #E60606;
		}
		&.mcc-ICX {
			color: #1FC5C9;
		}
		&.mcc-IMT {
  			color: #fcee21;
		}
		&.mcc-INV {
			color: #35C1C7;
		}
		&.mcc-ITM {
			color: #4AAAE0;
		}
		&.mcc-JOB {
  			color: #211566;
		}
		&.mcc-KNC {
			color: #188C92;
		}
		&.mcc-KUBO {
  			color: #000000;
		}
		&.mcc-LATINO {
			color: #1eb7eb;
		}
		&.mcc-LILE {
			color: #deb846;
		}
		&.mcc-LINK {
  			color: #2A5AD9;
		}
		&.mcc-LOOM {
			color: #08839D;
		}
		&.mcc-LTC {
			color: #838383;
		}
		&.mcc-LXC {
  			color: #c8962c;
		}
		.mcc-MANA {
  			color: #BFB5AF;
		}
		&.mcc-MARS {
			color: #D13914;
		}
		&.mcc-MCO {
			color: #103F68;
		}
		&.mcc-MCT {
			color: #ef5c2c;
		}
		&.mcc-MERO {
  			color: #127EBA;
		}
		&.mcc-MINX {
			color: #957955;
		}
		&.mcc-MKR {
			color: #1abc9c;
		}
		&.mcc-MLM {
			color: #000000;
		}
		&.mcc-MPC {
			color: #000000;
		}
		&.mcc-MTL {
			color: #1E1F25;
		}
		&.mcc-NAS {
			color: #222;
		}
		&.mcc-NEXO {
			color: #2853C3;
		}
		&.mcc-NMN {
  			color: #4a63c0;
		}
		&.mcc-NPXS {
			color: #221E22;
		}
		&.mcc-NYC {
			color: #6D6E71;
		}
		&.mcc-OAK {
			color: #0292B4;
		}
		&.mcc-OMG {
			color: #000000;
		}
		&.mcc-ONG {
			color: #000000;
		}
		&.mcc-ORGT {
  			color: #c717b0;
		}
		&.mcc-OROX {
  			color: #000000;
		}
		&.mcc-PAY {
			color: #302C2C;
		}
		&.mcc-PIEG {
			color: #bc181e;
		}
		&.mcc-PLA {
  			color: #FECB00;
		}
		&.mcc-PNY {
 			color: #a29667;
		}
		&.mcc-POLY {
  			color: #4C5A95;
		}
		&.mcc-PPT {
			color: #152743;
		}
		&.mcc-PRE {
  			color: #2d8eff;
		}
		&.mcc-QASH {
			color: #1347E8;
		}
		&.mcc-RDN {
			color: #2A2A2A;
		}
		&.mcc-REP {
			color: #602A52;
		}
		&.mcc-REQ {
			color: #075073;
		}
		&.mcc-RMESH {
  			color: #0C424E;
		}
		&.mcc-ROK {
			color: #000000;
		}
		&.mcc-SALT {
			color: #0baba4;
		}
		&.mcc-SNG {
			color: #00b338;
		}
		&.mcc-SPDR {
  			color: #ad1ca6;
		}
		&.mcc-SHEL {
			color: #000000;
		}
		&.mcc-SIN {
  			color: #0b2272;
		}
		&.mcc-SMC {
  			color: #000000;
		}
		&.mcc-SMART {
  			color: #ffc70d;
		}
		&.mcc-SNT {
			color: #5B6DEE;
		}
		&.mcc-SPAZ {
  			color: #D0C344;
		}
		&.mcc-SPND {
			color: #000;
		}
		&.mcc-STAK {
			color: #F29514;
		}
		&.mcc-STORM {
			color: #080D98;
		}
		&.mcc-STQ {
			color: #2fbafd;
		}
		&.mcc-TBTC {
			color: #000;
		}
		&.mcc-TCH {
			color: #3d6670;
		}
		&.mcc-TKS {
			color: #00b268;
		}
		&.mcc-TMT {
  			color: #E3BB44;
		}
		&.mcc-TN {
			color: #000;
		}
		&.mcc-TPAY {
			color: #3058A6;
		}
		&.mcc-TRDS {
  			color: #1C05DB;
		}
		&.mcc-TRX {
			color: #000;
		}
		&.mcc-TST {
			color: #4800ee;
		}
		&.mcc-TUSD {
			color: #5ca4f5;
		}
		&.mcc-TXT {
			color: #000000;
		}
		&.mcc-ULG {
  			color: #f4ba3e;
		}
		&.mcc-USDC {
			color: #2775c9;
		}
		&.mcc-USDN {
			color: #08B596;
		}
		&.mcc-USDT {
			color: #229A77;
		}
		&.mcc-USDT_ERC20 {
  			color: #282828;
		}
		&.mcc-USDT_TRC20 {
  			color: #000000;
		}
		&.mcc-VCP {
			color: #000000;
		}
		&.mcc-VERI {
			color: #FF9933;
		}
		&.mcc-VIA {
			color: #000000;
		}
		&.mcc-WAVES {
			color: #0155FF;
		}
		&.mcc-WW {
			color: #3609F9;
		}
		&.mcc-WRD1 {
			color: #221F1F;
		}
		&.mcc-WWTK {
			color: #73afc6;
		}
		&.mcc-XCON {
  			color: #000000;
		}
		&.mcc-XEM {
			color: #67B2E8;
		}
		&.mcc-XFC {
			color: #561263;
		}
		&.mcc-XLM {
  			color: #14b6e7;
		}
		&.mcc-XLR {
			color: #000;
		}
		&.mcc-XMR {
			color: #FF6600;
		}
		&.mcc-XRP {
  			color: #000;
		}
		&.mcc-XVG {
			color: #00bbeb;
		}
		&.mcc-ZEC {
			color: #e29f27;
		}
		&.mcc-ZRX {
			color: #302C2C;
		}
	}
}
